.home-card-container{
    display: flex;
    font-family: 'Typo Grotesk';
    align-items: center;
    font-size: 16px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:8px;
    color: #F2F2F2;
}

.home-card-container:hover{
    cursor: pointer;
    color: #1B95D6;
}

.home-card-container:hover img{
    width: 32px;
}

.home-card-icon{
    width: 30px;
    padding-right: 10px;
}

.home-card-content{
    width: 100%;
    display: flex;
    align-items: center;
}


.home-card-container .home-card-icon{
    padding-left: 18px;
}
