.base-page-container{
    min-height: 100vh;
    background-color: #061325;
}

.base-page-content{
    display: flex;
}

.navigation-bar-container{
    padding-top: 10px;
}

.base-page-component{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loading-modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
