.home-container{
    height: 100vh;
    background-color: #F5F5F5;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
