.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0066cc;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-container .user-area{
    display: flex;
    align-items: center;
    font-family: 'Comic Sans MS';
    font-size: 16px;
}

.header-container .user-area .logged-username{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo{
    width: 60px;
    padding-left: 5px;
}

.header-logo:hover {
  cursor: pointer;
  width: 65px;
  padding-bottom: 2px;
}

.header-user-icon{
    width: 50px;
    height: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.header-user-icon:hover {
  cursor: pointer;
  width: 55px;
  height: 55px;
  padding-bottom: 2px;
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    z-index: 20;
    position: fixed;
    width: 100%;
    padding-top:70px;
}

.logout-content {
    display: flex;
    background-color: #BEBEBE;
    border-radius: 5px;
    padding: 3px;
    padding-right: 10px;
    padding-left: 6px;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    margin-top: -5px;
}

.logout-content .logout-icon {
    width: 30px;
}

.logout-content:hover {
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 2px;
}
